{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="panier">
    {% if panier|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Taille</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for ligne in panier %}
                    <tr>
                        <td>{{ ligne.article.libelle }}</td>
                        <td>{{ ligne.taille.libelle }}</td>
                        <td>{{ ligne.article.getPrixU }}$</td>
                        <td>
                            <select class="qte-article">
                                {% for quantiteTaille in ligne.article.quantiteTailles %}
                                    {% if quantiteTaille.taille.id == ligne.taille.id %}
                                        {% for i in 1..quantiteTaille.qte %}
                                            {% if i == ligne.quantite %}
                                                <option value="{{ i }}" selected>{{ i }}</option>
                                            {% else %}
                                                <option value="{{ i }}">{{ i }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>{{ ligne.article.getPrixU * ligne.quantite }}$</td>
                        <td>
                            <a href="{{ path('panier_remove', {id: ligne.article.id, taille: ligne.taille.id}) }}">Supprimer</a>
                            <input type="hidden" value="{{ ligne.article.id }}" id="id-article"/>
                            <input type="hidden" value="{{ ligne.taille.id }}" id="id-taille"/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <td colspan="4" class="text-right">Total :</td>
                <td>{{ total }}$</td>
                <td></td>
            </tfoot>
        </table>
    {% else %}
        Panier Vide !
    {% endif %}
</div>
{% endblock %}
{% block javascripts %}<script src="/js/panier.js"></script>{% endblock %}
