{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/inscription.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% for message in app.flashes('user-error') %}
        <div class="flash-user-error">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form , {'attr': {'class': 'form-container col-md-6 col-sm-12 col-6'}}) }}
        {{ form_row(form.nom, {'attr': {'class': 'form-group form-control'}}) }}
        {{ form_row(form.prenom, {'attr': {'class': 'form-group form-control'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'form-group form-control'}}) }}
        {{ form_row(form.plain_password.first, {'attr': {'class': 'form-group form-control'}}) }}
        {{ form_row(form.plain_password.second, {'attr': {'class': 'form-group form-control'}}) }}
    {{ form_end(form) }}
{% endblock %}
