{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% include '/admin/panel.html.twig' %}

<div>
    <div>
        <h4>Derniers clients</h4>
        <table class="table table-sm table-hover">
            <thead>
                <tr class="table-active">
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr onClick="{window.location='{{ path('admin_client_show', {id: client.id}) }}'}">
                        <td><div class="id-client">{{ client.id }}</div></td>
                        <td><div class="nom-client">{{ client.nom }}</div></td>
                        <td><div class="prenom-client">{{ client.prenom }}</div></td>
                        <td><div class="email-client">{{ client.email }}</div></td>
                        </div>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="table-active">
                    <td colspan="6" class="text-center"><a href="{{ path('admin_client') }}">Voir tout</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <h4>Derniers articles</h4>
        <table class="table table-sm table-hover">
            <thead>
                <tr class="table-active">
                    <th>N°</th>
                    <th>Libelle</th>
                    <th>Description</th>
                    <th>prix</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr onClick="{window.location='{{ path("admin_article_show", {id: article.id}) }}'}">    
                        <td><div class="id-article">{{ article.id }}</div></td>
                        <td><div class="libelle-article">{{ article.libelle }}</div></td>
                        <td><div class="description-article">{{ article.description }}</div></td>
                        <td><div class="prix-article">{{ article.prix_u }}$</div></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="table-active">
                    <td colspan="6" class="text-center"><a href="{{ path('admin_article') }}">Voir tout</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <h4>Dernieres commandes</h4>
        <table class="table table-sm table-hover">
            <thead>
                <tr class="table-active">
                    <th>N°</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Statut</th>
                    <th>Nb articles</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                    <tr onClick="{window.location='{{ path('admin_commande_show', {id: commande.id}) }}'}">
                        <td><div class="id-commande">{{ commande.id }}</div></td>
                        <td><div class="date-commande">{{ commande.date|date('d/m/Y') }}</div></td>
                        <td><div class="client-commande">{{ commande.getClient.nom ~ " " ~ commande.getClient.prenom }}</div></td>
                        <td><div class="status-commande">{{ commande.statutCommande.libelle }}</div></td>
                        <td><div class="articles-commande">{{ commande.getNbArticles }}</div></td>
                        <td><div class="montant-commande">{{ commande.getPrixTotal }}$</div></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="table-active">
                    <td colspan="6" class="text-center"><a href="{{ path('admin_commande') }}">Voir tout</a></td>
                </tr>
            </tfoot>
        </table>
        
    </div>
</div>
{% endblock %}
