{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="/css/adresse.css"/>{% endblock %}

{% block body %}

    <div class="commande">
        <div>
            <div class="alert alert-success" role="alert">Montant Total : {{prixTot}} $</div>
        </div>
        <div>
            <h1>Adresse de livraison</h1>
            <select id='adresse'>
                {% for adresse in adresses %}
                    <option value={{adresse.id}}>{{adresse.adresse}} {{adresse.cp}} {{adresse.ville}} {{adresse.pays}}</option>
                {% endfor %}
                <option value="new">Nouvelle adresse</option>
            </select>
        </div>
        <div class="form-new-adresse" style="display: none;">
            {{ form(form) }}
        </div>
        <div><button class="btn btn-outline-dark" id='valide'>Valider la commande</button></div>
    </div>

{% endblock %}
{% block javascripts %}<script src="/js/validationCommande.js"></script>{% endblock %}
