{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/commande.css"/>{% endblock %}

{% block body %}

    <table class="table table-striped table-hover">
        <tbody>
        {% for commande in commandes %}
            <tr class="commande" onClick={window.location="{{ path('compte_commande_show', {id: commande.id}) }}"}>
                <td class="id-commande">N°{{ commande.id }}</td>
                <td class="date-commande">Le {{ commande.date|date('d/m/Y') }}</td>
                <td class="articles-commande">{{ commande.getNbArticles }} Article(s)</td>
                <td class="montant-commande">{{ commande.getPrixTotal }}$</td>
                <td class="status-commande">{{ commande.statutCommande.libelle }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

