{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/commande.css"/>{% endblock %}

{% block body %}

<div class="commandes">
    {% for commande in commandes %}
        <div class="commande" onClick={window.location="{{ path('compte_commande_show', {id: commande.id}) }}"}>
            <div class="id-commande">N°{{ commande.id }}</div>
            <div class="date-commande">Le {{ commande.date|date('d/m/Y') }}</div>
            <div class="articles-commande">{{ commande.getNbArticles }} Article(s)</div>
            <div class="montant-commande">{{ commande.getPrixTotal }}$</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
