{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/commandeShow.css"/>{% endblock %}

{% block body %}

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>N° de commande</th>
                    <th>commande</th>
                    <th>commande effectuée le</th>
                    <th>livraison</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                {% for ligneDeCommande in commande.getLignesDeCommande %}

                        <td class="id-commande">N°{{ commande.id }}</td>
                        <td class="libelle-article-ligne-de-commande">{{ ligneDeCommande.article.libelle }}<br>
                        {{ ligneDeCommande.taille.libelle }}<br>
                        x{{ ligneDeCommande.qte }}<br>
                        {{ ligneDeCommande.getMontant }}€</td>

                {% endfor %}
                <td class="date-commande">Le {{ commande.date|date('d/m/Y') }}</td>
                <td class="adresse-commande">{{ commande.adresse.adresse ~ " " ~ commande.adresse.cp ~ " " ~ commande.adresse.ville}}</td>
            </tr>

            <tr id="tr">
                <td class="montant-commande">Total: {{ commande.getPrixTotal }}€</td>
                <td class="statut-commande">{{ commande.statutCommande.libelle }}</td>
                <td></td><td></td>
            </tr>
            </tbody>
        </table>
        {% if commande.statutCommande.code == 1 or commande.statutCommande.code == 9 %}
            <button class="show-btn btn btn-dark">Payer</button>
        {% endif %}
    </div>





{% endblock %}
