{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/commande.css"/>{% endblock %}

{% block body %}

<div class="commande">
    <div class="id-commande">N°{{ commande.id }}</div>
    <div class="date-commande">Le {{ commande.date|date('d/m/Y') }}</div>
    <div class="adresse-commande">{{ commande.adresse.adresse ~ " " ~ commande.adresse.cp ~ " " ~ commande.adresse.ville}}</div>
    <div class="articles-commande">{{ commande.getNbArticles }} Article(s)</div>
    {% for ligneDeCommande in commande.getLignesDeCommande %}
        <div class="ligne-de-commande">
            <div class="libelle-article-ligne-de-commande">{{ ligneDeCommande.article.libelle }}</div>
            <div class="taille-article-ligne-de-commande">{{ ligneDeCommande.taille.libelle }}</div>
            <div class="qte-article-ligne-de-commande">x{{ ligneDeCommande.qte }}</div>
            <div class="montant--article-ligne-de-commande">{{ ligneDeCommande.getMontant }}$</div>
        </div>
    {% endfor %}
    <div class="montant-commande">Total: {{ commande.getPrixTotal }}$</div>
    <div class="statut-commande">{{ commande.statutCommande.libelle }}</div>
    {% if commande.statutCommande.code == 1 %}
        <button>Payer</button>
    {% endif %}
</div>
{% endblock %}
