{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/compte.css"/>{% endblock %}

{% block body %}
<h2 class="text-uppercase">Mon Compte</h2>
<div class="container">
    <h3>Mes Informations</h3>
    <div class="infos-client">
        <div>{{ client.nom }} {{ client.prenom }}</div>
        <div>{{ client.email }}</div>
        <a href="{{ path('compte_edit') }}">Modifier</a><br>
        <a href="{{ path('compte_edit_pwd') }}">Modifier mot de passe</a>
    </div>

    <h3>Mes Adresses</h3>
    <table class="table table-striped adresses-client">
        <tbody>
            {% for adresse in client.adresses %}
                <tr>
                    <td class="adresse-adresse">{{ adresse.adresse }}</td>
                    <td class="cp-adresse">{{ adresse.cp }}</td>
                    <td class="ville-adresse">{{ adresse.ville }}</td>
                    <td class="pays-adresse">{{ adresse.pays }}</td>
                    <td class="tel-adresse">{{ adresse.tel }}</td>
                    <td><a href="{{ path('compte_adresse_remove', {id: adresse.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
                    <td><a href="{{ path('compte_adresse_edit', {id: adresse.id}) }}"><i class="fas fa-edit"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <td class="ajouter-adresse" onClick={window.location="{{ path('compte_adresse_new') }}"}>Nouvelle Adresse</td>
        </tfoot>
    </table>


    <h3>Mes commandes</h3>
    <table class="table table-striped commandes-client table-hover">
       <tbody>
            {% for commande in commandes %}
                <tr class="commande" onClick={window.location="{{ path('compte_commande_show', {id: commande.id}) }}"}>
                    <td class="id-commande">N°{{ commande.id }}</td>
                    <td class="date-commande">Le {{ commande.date|date('d/m/Y') }}</td>
                    <td class="articles-commande">{{ commande.getNbArticles }} Article(s)</td>
                    <td class="montant-commande">{{ commande.getPrixTotal }}$</td>
                    <td class="status-commande">{{ commande.statutCommande.libelle }}</td>
                </tr>
            {% endfor %}
       </tbody>
       <tfoot>
            <td onClick={window.location="{{ path('compte_commandes') }}"}>Voir toutes mes commandes</td>
       </tfoot>
    </table>
</div>
{% endblock %}
