{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block stylesheets %}{{ block("stylesheets", "/admin/panel.html.twig") }}<link rel="stylesheet" href="/css/inscription.css"/>{% endblock %}

{% block body_top %}
{{ block("panel", "/admin/panel.html.twig") }}
{% endblock %}

{% block body %}

    {{ form_start(form , {'attr': {'class': 'form-container col-md-6 col-sm-12 col-6'}}) }}
    {{ form_row(form.date, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.adresse, {'attr': {'class': 'form-group form-control'}}) }}
    {{ form_row(form.mode_paiement, {'attr': {'class': 'form-group form-control'}}) }}
    {{ form_row(form.statut_commande, {'attr': {'class': 'form-group form-control'}}) }}

{% set data_prototype_ligne_de_commande %}
    {{ form_row(form.lignes_de_commande.vars.prototype.article, {'attr': {'class': 'form-group form-control'}}) }}
    {{ form_row(form.lignes_de_commande.vars.prototype.taille, {'attr': {'class': 'form-group form-control'}}) }}
    {{ form_row(form.lignes_de_commande.vars.prototype.qte, {'attr': {'class': 'form-group form-control'}}) }}
{% endset %}

    <h3 class="pb-2">Lignes</h3>
    <ul class="lignes-de-commande" data-prototype="{{ data_prototype_ligne_de_commande|e('html_attr') }}">
        {% for ligne_de_commande in form.lignes_de_commande %}
            <li>
                {{ form_row(ligne_de_commande.article, {'attr': {'class': 'form-group form-control'}}) }}
                {{ form_row(ligne_de_commande.taille, {'attr': {'class': 'form-group form-control'}}) }}
                {{ form_row(ligne_de_commande.qte, {'attr': {'class': 'form-group form-control'}}) }}
            </li>
        {% endfor %}
    </ul>

    {{ form_row(form.frais_de_port, {'attr': {'class': 'form-group form-control'}}) }}
{{ form_end(form) }}

{% endblock %}
{% block javascripts %}<script src="/js/commande_form.js"></script>{% endblock %}