{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/article.css"/>{% endblock %}

{% block body %}
{% include 'admin/panel.html' %}

{{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.mode_paiement) }}
    {{ form_row(form.statut_commande) }}


    <h3>Lignes</h3>
    <ul class="lignes-de-commande" data-prototype="{{ form_widget(form.lignes_de_commande.vars.prototype)|e('html_attr') }}">
        {% for ligne_de_commande in form.lignes_de_commande %}
            <li>{{ form_row(ligne_de_commande.article) }} {{ form_row(ligne_de_commande.taille) }} {{ form_row(ligne_de_commande.qte) }}</li>
        {% endfor %}
    </ul>

    {{ form_row(form.frais_de_port) }}
{{ form_end(form) }}

{% endblock %}
{% block javascripts %}<script src="/js/commande_form.js"></script>{% endblock %}