{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block stylesheets %}{{ block("stylesheets", "/admin/panel.html.twig") }}<link rel="stylesheet" href="/css/commandeShow.css"/>{% endblock %}

{% block body_top %}
{{ block("panel", "/admin/panel.html.twig") }}
{% endblock %}

{% block body %}

<div class="show-commande">
    <div class="container">
        <table class="t table">
            <thead>
            <tr>
                <th class="id-commande">Commande N°{{ commande.id }}</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="date-commande">Le {{ commande.date|date('d/m/Y') }}</td>
                    <td class="adresse-commande">Adresse de livraison : {{ commande.adresse.adresse ~ " " ~ commande.adresse.cp ~ " " ~ commande.adresse.ville}}</td>
                    <td class="articles-commande">Quantité : {{ commande.getNbArticles }} Article(s)</td>
                    <td class="mode-paiement-commande">Paiement : {{ commande.getModePaiement.libelle }}</td>
                    <td class="statut-commande">Status : {{ commande.statutCommande.libelle }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <h5>Détails de la commande</h5>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Taille</th>
                    <th>Prix Unitaire</th>
                    <th>Quantité</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                {% for ligneDeCommande in commande.getLignesDeCommande %}
                    <tr class="ligne-de-commande">
                        <td class="libelle-article-ligne-de-commande">{{ ligneDeCommande.article.libelle }}</td>
                        <td class="taille-article-ligne-de-commande">{{ ligneDeCommande.taille.libelle }}</td>
                        <td class="prux-u-article-ligne-de-commande">{{ ligneDeCommande.article.getPrixU }}$</td>
                        <td class="qte-article-ligne-de-commande">{{ ligneDeCommande.qte }}</td>
                        <td class="montant-article-ligne-de-commande text-right">{{ ligneDeCommande.getMontant }}$</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">Sous-total :</td>
                    <td class="text-right">{{ commande.getPrixTotal }}$</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right">Frais de port :</td>
                    <td class="text-right">{{ commande.getFraisDePort }}$</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right">Total :</td>
                    <td class="text-right">{{ commande.getPrixTotalWithShipping }}$</td>
                </tr>
            </tfoot>
        </table>

        <button class="bouton btn btn-outline-danger" onclick="{window.location='{{ path("admin_commande_edit", {id: commande.id}) }}'}">Modifier</button>
        <button class="bouton btn btn-outline-danger" onclick="{window.location='{{ path("admin_client_show", {id: commande.getClient.id}) }}'}">Voir le client</button>
    </div>
</div>
{% endblock %}
