{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="/css/article.css"/>{% endblock %}

{% block body %}

<div class="list-articles">
    {% for article in articles %}
        <div class="item-article">
            <div class="body-article"  onClick={window.location="{{ path('article_show', {id: article.id}) }}"}>
                <div class="libelle-article">{{ article.libelle }}</div>
                <div class="image-article"><img src="{{ article.image }}"/></div>
                <div class="description-article">{{ article.description }}</div>
                <div class="prix-article">{{ article.prixU }}$</div>
            </div>
            <div class="button-article">
                <button class="add-article-panier">Ajouter</button>
            </div>
            <input type="hidden" value="{{ article.id }}" id="id-article">
        </div>
    {% endfor %}
</div>

{% endblock %}
{% block javascripts %}<script src="/js/article.js"></script>{% endblock %}

