{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
    <h3>Merci de votre achat</h3>
    <div class="d-flex flex-column recap-paiement">
        <div>Vous avez choisi de payer avec {{ payment.paymentMode }}</div>
        <div>Utilisateur paypal : {{ payment.user }}</div>
        <div>Statut du paiement : {{ payment.state }}</div>
        <div>Adresse de livraison : {{ payment.address.line1 ~ " " ~ payment.address.postal_code ~ " " ~ payment.address.city ~ " " ~ payment.address.state ~ " " ~ payment.address.country_code }}</div>
        <div>Total de la transaction (TTC) : {{ payment.price }}€</div>
        <div>Description de la transaction : {{ payment.description }}</div>
        <div>Votre numéro de transacion paypal est : {{ payment.paymentId }}</div>
        <div>Votre numéro de commande est : {{ commande.id }}</div>
    </div>

    <a href="{{ path('compte_commandes') }}">Retour aux commandes</a>
{% endblock %}
